<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/img/gambar.jpg" width="300" class="img-thumbnail rounded-circle" alt="profile" />
            <h1 class="display-4 fst-italic">Ramdhani Arya Subagja</h1>
            <div class="lead fw-semibold">Peserta Bootcamp Batch 3</div>
        </div>
    </div>
</div>
